:root {
    --color-light: #fff;
    --color-dark: #06130b;
    --color-sage: #226766;
    --color-red: #862d31;
    --color-light-opaque: rgba(255, 255, 255, 0.1);

    --base: 0.625rem; // base scale dimension
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--color-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
